:root {
  --default-dark: #101010;
  --default-text: #ffffff;
  --translucent-text: rgba(255, 255, 255, 0.75);
  --medium-translucent-text: rgba(255, 255, 255, 0.5);
  --super-translucent-text: rgba(255, 255, 255, 0.25);
  --profile-color: rgba(58, 167, 109, 1);
  --profile-hover: rgba(58, 167, 109, 0.08);
  --quests-color: #ff375f;
  --quests-hover: rgba(255, 55, 95, 0.08);
  --login-color: #276ef1;
  --news-color: #00d0ff;
  --divider: #28282c;
  --divider-super-translucent: rgba(255, 255, 255, 0.12);
  --gradient-bg: rgba(16, 16, 16, 0.5);
  --loader-border: rgba(255, 255, 255, 0.08);
  --overlay: rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), url("./../fonts/robotobold.woff2") format("woff2"),
    url("./../fonts/robotobold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"),
    url("./../fonts/robotomedium.woff2") format("woff2"),
    url("./../fonts/robotomedium.woff") format("woff");
}
/* ДОБАВИТЬ ВСЕ НОРМАЛЫ  */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("./../fonts/roboto.woff2") format("woff2"),
    url("./../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"),
    url("./../fonts/robotolight.woff2") format("woff2"),
    url("./../fonts/robotolight.woff") format("woff");
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: var(--default-text);
}

/* цвет текста в alt  */
img {
  color: var(--default-text);
}

/* код на случай, если svg с линиями и градиентом поломается  */

.main-page,
.quest-page {
  background-image: repeating-linear-gradient(
      to right,
      var(--default-dark) 0%,
      var(--gradient-bg) 25%,
      var(--gradient-bg) 70%,
      var(--default-dark) 100%
    ),
    repeating-linear-gradient(
      to right,
      var(--quests-color) 0px,
      var(--quests-color) 2px,
      var(--default-dark) 2px,
      var(--default-dark) 60px
    );
  margin: 0;
  padding: 0;
}

.login-page {
  background-image: repeating-linear-gradient(
      to right,
      var(--default-dark) 0%,
      var(--gradient-bg) 25%,
      var(--gradient-bg) 70%,
      var(--default-dark) 100%
    ),
    repeating-linear-gradient(
      to right,
      var(--login-color) 0px,
      var(--login-color) 2px,
      var(--default-dark) 2px,
      var(--default-dark) 60px
    );
}

.user-page,
.registration-page {
  background-image: repeating-linear-gradient(
      to right,
      var(--default-dark) 0%,
      var(--gradient-bg) 25%,
      var(--gradient-bg) 70%,
      var(--default-dark) 100%
    ),
    repeating-linear-gradient(
      to right,
      var(--profile-color) 0px,
      var(--profile-color) 2px,
      var(--default-dark) 2px,
      var(--default-dark) 60px
    );
}

.news-page,
.news-card-page {
  background-image: repeating-linear-gradient(
      to right,
      var(--default-dark) 0%,
      var(--gradient-bg) 25%,
      var(--gradient-bg) 70%,
      var(--default-dark) 100%
    ),
    repeating-linear-gradient(
      to right,
      var(--news-color) 0px,
      var(--news-color) 2px,
      var(--default-dark) 2px,
      var(--default-dark) 60px
    );
}

.wrapper {
  background-color: var(--default-dark);
  width: 800px;
  margin: 0 auto;
  min-height: 100%;
  padding-left: 80px;
  padding-right: 80px;
  flex-shrink: 0;
  flex-grow: 2;
}

.main-page .wrapper {
  padding-top: 15px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--divider);
}

main {
  min-height: 100%;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* LOGIN  */

.login-page .wrapper {
  padding-top: 35px;
}

.login-title {
  position: relative;
}

.login-title .divider {
  margin-top: 32px;
}

.login-links {
  margin: 0;
  padding: 0;
  padding-top: 32px;
}

.login-links a {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--login-color);
}

.login-links li {
  list-style: none;
  margin-bottom: 23px;
}

.login-title h1 {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 4px;
}

.login-title span {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.panel-wrapper {
  width: 640px;
  position: fixed;
  display: flex;
  bottom: 24px;
}

.panel {
  width: 100%;
  border: 1px solid var(--quests-color);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 56px;
  align-items: center;
  background-color: var(--default-dark);
  transition: background-color 0.3s;
}

.panel-item:last-child {
  margin-right: 0;
}

.user-page .panel {
  border-color: var(--profile-color);
}

.news-page .panel {
  border-color: var(--news-color);
}

.panel-link {
  color: var(--medium-translucent-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 8px 16px;
  transition: background-color 0.3s;
}

.icon-fill {
  fill: var(--default-text);
  fill-opacity: 1;
}

.current-quests .icon-fill {
  fill: var(--quests-color);
}

.current-quests .page-name {
  color: var(--quests-color);
}

.current-profile .icon-fill {
  fill: var(--profile-color);
}

.current-news .icon-fill {
  fill: var(--news-color);
}

.panel-link:hover .icon-fill {
  fill: var(--default-text);
}

.panel-link:hover .page-name {
  color: var(--default-text);
}

.current-profile .page-name {
  color: var(--profile-color);
}

.page-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.quest-name {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 4px;
  color: var(--default-text);
  padding-top: 2px;
}

.preview-quest {
  display: grid;
  grid-template-columns: min-content 1fr;
  position: relative;
  /* margin-bottom: 24px; */
  text-decoration: none;
  padding-top: 24px;
}

.preview-quest .info-item {
  font-size: 12px;
  line-height: 16px;
  color: var(--super-translucent-text);
  font-weight: 400;
  margin-left: 4px;
  margin-bottom: 12px;
}

.episodes-info {
  display: flex;
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.episodes-info .info-item {
  margin-left: 8px;
}

.episodes-info-wrapper {
  margin-top: 24px;
}

.quest-page .episodes-info-wrapper {
  margin-top: 23px;
}

.short-description {
  color: var(--translucent-text);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  overflow-y: hidden;
}

.quests-page .description,
.user-page .description,
.main-page {
  max-height: 40px;
}
.quest-avatar {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  margin-right: 16px;
}

/* QUEST PAGE  */

.author-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--super-translucent-text);
}

.text {
  padding-left: 20px;
}

.title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
}

.quest-text .title {
  margin-top: 6px;
}

.button-wrapper {
  width: 640px;
  position: fixed;
  z-index: 10;
  bottom: 24px;
  padding: 0 20px;
}

.button {
  background-color: var(--login-color);
  color: var(--default-text);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

.button[disabled] {
  background-color: var(--divider-super-translucent);
  color: var(--medium-translucent-text);
  cursor: default;
}

.button[disabled]:hover {
  opacity: 1;
}

.button:hover {
  opacity: 0.7;
}

.main-image {
  /* width: 640px;
  height: 359px; */
  margin-bottom: 10px;
}

.main-image-wrapper {
  position: relative;
}

.quests-list {
  padding: 0;
  list-style: none;
  padding-bottom: 100px;
  margin: 0;
}

.main-image-wrapper::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    #101010 0%,
    rgba(0, 0, 0, 0.0001) 100%
  );
}

.quest-page .wrapper {
  position: relative;
  padding-bottom: 100px;
  padding-top: 0;
}

.cross {
  width: 32px;
  height: 32px;
  stroke: var(--default-text);
  position: absolute;
  top: 38px;
  left: -49px;
}

.cross:hover {
  stroke: var(--super-translucent-text);
}

.description {
  margin-top: 14px;
}

/* USER PAGE  */

.user-profile .divider {
  background-color: var(--default-dark);
}

.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user-name {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  font-weight: 700;
}

.user-plan {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: var(--translucent-text);
}

.cash {
  font-weight: 300;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: var(--super-translucent-text);
  padding-top: 20px;
}

.cash-info {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  margin-top: 4px;
}

.dot {
  margin: 0 6px;
  opacity: 0.25;
}

.name-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-top: 7px;
}

.cash-wrapper {
  margin-top: 29px;
  position: relative;
}

.preview-text .divider {
  margin-top: 21px;
}

.user-profile {
  background: linear-gradient(
    180deg,
    rgba(16, 16, 16, 0) 0%,
    rgba(58, 167, 109, 0.25) 100%
  );
  border-radius: 0px 0px 16px 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.user-info {
  display: flex;
}

.quests-list-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-top: 31px;
  padding-left: 20px;
  margin: 0;
}

.user-page .quests-list {
  padding-left: 20px;
}

.user-page .preview-quest {
  padding-top: 24px;
}

/* news  */

.news-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 100px;
}

.preview-news {
  text-decoration: none;
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 32px;
  font-weight: 400;
  margin-bottom: 24px;
}

.news-avatar {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  box-shadow: inset 0px 0px 2px 0px var(--news-color);
}

.news-title {
  color: var(--default-text);
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.news-description {
  color: var(--translucent-text);
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.preview-news-text {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;
}

.text-wrapper {
  height: 104px;
  position: relative;
}

.text-wrapper:after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: var(--divider);
}

.news-card-page .quests-list,
.news-card-page .news-list {
  padding-bottom: 0;
}

.news-card-page .wrapper {
  padding-bottom: 5px;
}

.news-card-page .description {
  font-family: "PT Serif", serif;
}

.list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.quest-text {
  padding-left: 20px;
}

.news-card-page .title {
  margin: 0;
}

.news-card-page .description {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.news-text {
  margin-bottom: 45px;
}

.list-wrapper {
  margin-bottom: 48px;
}

.list-wrapper .preview-quest {
  padding-top: 16px;
}

.list-wrapper .news-list {
  padding-top: 17px;
}

/* registration  */

.registration-user-data {
  padding-top: 35px;
}

.registration-page .wrapper {
  height: 100%;
}

.main-registration {
  display: grid;
  grid-template-rows: 1fr min-content;
  min-height: 100%;
  padding-bottom: 24px;
}

.registration-user-name {
  display: grid;
  grid-template-columns: max-content 1fr;
  margin-top: 40px;
}

.registration-name-wrapper {
  font-weight: 400;
  position: relative;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registration-avatar {
  width: 100px;
  height: 100px;
  border: 1px solid var(--profile-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-user-data .title {
  margin-bottom: 4px;
}

.registration-user-data .advice {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.registration-name-wrapper .title {
  color: var(--medium-translucent-text);
  font-size: 12px;
  line-height: 16px;
  margin-top: 0;
}

.registration-name-wrapper .name {
  font-size: 14px;
  line-height: 20px;
}

.terms-of-use-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--translucent-text);
  padding: 0;
  margin: 4px;
  position: relative;
  padding-left: 45px;
}

.terms-of-use-text a {
  color: var(--translucent-text);
}

.registration-name-wrapper:after {
  position: absolute;
  content: "";
  bottom: 20px;
  height: 2px;
  width: 100%;
  background-color: var(--divider);
}

.terms-of-use-wrapper {
  display: grid;
  position: relative;
  grid-template-rows: min-content min-content;
  row-gap: 20px;
}

.reg-checkbox {
  opacity: 0;
  width: 24px;
  height: 24px;
  z-index: 30;
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
}

.terms-of-use-text::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--divider);
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.reg-checkbox:checked + .terms-of-use-text::before {
  background-color: none;
  background-image: url(./../img/agree-icon.svg);
  background-size: contain;
}

/* loader  */

.overlay {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: 10;
  background-color: var(--overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -80px;
  z-index: 30;
}

.loader {
  box-shadow: inset 0 0 0px 16px var(--loader-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}

.loader-item {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 16px;
  left: 16px;
  stroke: var(--default-text);
  animation: loader 0.5s infinite;
}

/* обычный лоадер  */
.loader-logo {
  fill: var(--default-text);
}

/* news  */
/* news-card-page */
.news-page .loader-item,
.news-card-page .loader-item {
  stroke: var(--news-color);
}
.news-page .loader-logo,
.news-card-page .loader-logo {
  fill: var(--news-color);
}

/* main  */
/* quest  */

.main-page .loader-item,
.quest-page .loader-item  {
  stroke: var(--quests-color);
}

.main-page .loader-logo,
.quest-page .loader-logo {
  fill: var(--quests-color);
}

/* user  */
.user-page .loader-item {
  stroke: var(--profile-color);
}
.user-page .loader-logo {
  fill: var(--profile-color);
}

/* login  */
.login-page .loader-item {
  stroke: var(--login-color);
}
.login-page .login-item {
  fill: var(--login-color);
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

/* Мобильный вид  */

@media (max-width: 640px) {
  .loader-wrapper {
    margin-left: -40px;
  }

  .wrapper {
    width: auto;
    padding: 0;
  }

  /* main navigation panel  */
  .button-wrapper {
    width: 100%;
    bottom: 22px;
    padding: 0 21px;
  }

  .panel-wrapper {
    width: 100%;
    bottom: 22px;
    padding: 0 21px;
  }

  /* main  */

  .main-page .wrapper {
    padding-top: 10px;
  }

  .main-page .quests-list {
    padding: 0px 0px 100px 20px;
    width: 100%;
  }

  .main-page .short-description {
    padding-right: 44px;
    max-height: 40px;
  }

  .main-page .divider {
    margin-top: 3px;
  }

  .main-page .preview-quest {
    padding-top: 20px;
  }

  /* user page  */

  .user-quests {
    padding: 0 20px 100px 20px;
  }

  .preview-quest .info-item {
    margin-bottom: 10px;
  }

  .preview-quest .quest-name {
    margin-bottom: 4px;
  }

  .main-image {
    width: 100%;
    height: 202px;
  }

  .quest-text {
    padding-right: 20px;
  }

  .login-page .wrapper {
    padding: 36px 20px;
  }

  .user-page .quests-list {
    padding: 0;
  }

  .user-page .quests-list-title {
    padding-left: 0;
  }

  .quest-page .episodes-info-wrapper {
    margin: 0;
    margin-top: 22px;
  }

  /* news  */

  .news-list {
    padding: 0px 20px 100px 20px;
  }

  .news-description {
    margin-bottom: 3px;
  }

  .preview-news {
    margin-bottom: 20px;
  }

  .news-list {
    padding-top: 30px;
  }

  .cross {
    display: none;
  }

  .news-card-page .news-text,
  .news-card-page .lists {
    padding: 0 20px;
  }

  .news-card-page .quests-list li:last-child {
    padding: 0;
  }

  .list-wrapper {
    margin-bottom: 24px;
  }

  .news-card-page .news-list {
    padding: 16px 0 0 0px;
  }

  /* registration  */

  .main-registration {
    padding: 0px 20px 24px 20px;
  }

  .registration-avatar {
    width: 80px;
    height: 80px;
  }

  .user-avatar {
    width: 48px;
    height: 48px;
  }

  .registration-name-wrapper:after {
    bottom: 10px;
  }

  .registration-user-name {
    margin-top: 36px;
  }
}
